TMDB_API_KEY=tu_api_key_tmdb
TMDB_LANGUAGE=es-MX
TMDB_BASE_URL=https://api.themoviedb.org/3
TMDB_IMAGE_BASE=https://image.tmdb.org/t/p/w500

SPOTIFY_CLIENT_ID=tu_client_id_spotify
SPOTIFY_CLIENT_SECRET=tu_client_secret_spotify
SPOTIFY_MARKET=US
SPOTIFY_DEFAULT_QUERY=genre:pop

